---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language:        Cpp
# BasedOnStyle:  Google
AlignOperands:   AlignAfterOperator
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     120
DerivePointerAlignment: false
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpacesBeforeTrailingComments: 2
...
