---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language:        Cpp
# BasedOnStyle:  Google
AlignOperands:   AlignAfterOperator
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     120
DerivePointerAlignment: false
SeparateDefinitionBlocks: Always
...
